@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
h1{
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 100px;
  text-align: center;
}
h2{
  font-family: 'ZCOOL KuaiLe', cursive;

}